* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
}

body {
    background: #F6F6F6;
}

/* filter */
#filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    margin-bottom: 10px;
}

#text-input {
    width: 50%;
    min-width: 340px;
    height: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0px 0px 10px 0.3px #ccc;
}

#text-input .container {
    width: 100%;
    padding: 10px;
    border-color: transparent;
    background: #F6F6F6;
    border-radius: 50px;
    padding-left: 15px;  
    display: flex;
    align-items: center;  
}

#text-input .container .pipe {
    display: inline-block;
    background: #696969;
    width: 2px;
    height: 14px;
    margin-left: 12px;
}

#text-input .container input#search {
    width: 260px;
    background: #F6F6F6;
    border-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: .5px;
    outline: none;
    font-size: 16px;
    padding-left: 12px;

}

#radio-input input {
    display: none;
}

#radio-input label {
    display: inline-block;
    margin: 0 10px;
    padding: 3px;
    font-size: 20px;
    letter-spacing: 1.5px;
    cursor: pointer;
    position: relative;
}

#radio-input input#all:checked + label {
    color: black;
    text-shadow: 0px 1px 10px black;
}

#radio-input input#alive:checked + label {
    color: #6bc30c;
    text-shadow: 0px 1px 10px #6bc30c;
}

#radio-input input#dead:checked + label {
    color: red;
    text-shadow: 0px 1px 10px red;
}

#radio-input input#unknown:checked + label {
    color: #9a9a9a;
    text-shadow: 0px 1px 10px #9a9a9a;
}

/* label input radio after */

#radio-input label::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: 1px;
    left: 0;
    transition: width .3s ease-in-out;
}

#radio-input input#all:hover + label::after {
    width: 100%;
    background: black;
}

#radio-input input#alive:hover + label::after {
    width: 100%;
    background: #6bc30c;
}

#radio-input input#dead:hover + label::after {
    width: 100%;
    background: red;
}

#radio-input input#unknown:hover + label::after {
    width: 100%;
    background:#9a9a9a;
}

/* List */
#characters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.character-container {
    width: 340px;
    height: 335px;
    display: flex;
    padding: 12px 12px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0.3px #ccc;
    margin: 20px;
    cursor: pointer;
    transition: transform .3s ease;
    background: #fff;
}

.character-container:hover {
    transform: scale(1.1);
}

.character-container img {
    width: 340px;
    height: 300px;
    margin: 0;
    object-fit: cover;
}

.character-container .title {
    letter-spacing: 1px;
}

/* modal de detalle */
#modal-character-details {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(32, 32, 32, 0.6);
}

#modal-character-details .container {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-bottom: 15px;
    width: 400px;
    border-radius: 5px;
}

#modal-character-details .title {
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}

#modal-character-details .properties {
    display: flex;
    justify-content: space-around;
}

#modal-character-details .properties img {
    width: 65%;
    border-radius: 100%;
    margin-right: 5px;
}

#modal-character-details .properties div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#modal-character-details .properties p {
    font-size: 20px;
    letter-spacing: .5px;
    display: inline-block;
}

#modal-character-details .details-close {
    z-index: 20;
    position: absolute;
    right: 20px;
    top: 20px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

/* medias queries */
@media (width <= 420px) {
    #input {
        min-width: 300px;
    }

    .character-container {
        width: 300px;
    }

    .character-container img {
        width: 300px;
    }

    #modal-character-details .title {
        font-size: 30px;
        margin-bottom: 7px;
    }

    #modal-character-details .container {
        width: 320px;
    }

    #modal-character-details .properties {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

button#go-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0px 0px 10px 0.3px #ccc;
    padding: 5px;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
}

button#go-to-top span {
    background: #F6F6F6;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* clases utilitarias */

.hide {
    display: none !important;
}

.stop-scrolling {
    overflow: hidden !important;
}

.hide-button {
    opacity: 0;
}









